<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Combobook</servlet-name>
		<display-name>Combobook</display-name>
		<description></description>
		<servlet-class>com.fssa.bookstore.userservlet.Combobook</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.fssa.bookstore.userservlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<display-name>ProfileServlet</display-name>
		<description></description>
		<servlet-class>com.fssa.bookstore.userservlet.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateProfile</servlet-name>
		<display-name>UpdateProfile</display-name>
		<description></description>
		<servlet-class>com.fssa.bookstore.userservlet.UpdateProfile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<display-name>DeleteServlet</display-name>
		<description></description>
		<servlet-class>com.fssa.bookstore.userservlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PaymentServlet</servlet-name>
		<display-name>PaymentServlet</display-name>
		<description></description>
		<servlet-class>com.fssa.bookstore.userservlet.PaymentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdatePaymentServlet</servlet-name>
		<display-name>UpdatePaymentServlet</display-name>
		<description></description>
		<servlet-class>com.fssa.bookstore.userservlet.UpdatePaymentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListAllOrders</servlet-name>
		<display-name>ListAllOrders</display-name>
		<description></description>
		<servlet-class>com.fssa.bookstore.userservlet.ListAllOrders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Combobook</servlet-name>
		<url-pattern>/Combobook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/ProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/UpdateProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentServlet</servlet-name>
		<url-pattern>/PaymentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatePaymentServlet</servlet-name>
		<url-pattern>/UpdatePaymentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListAllOrders</servlet-name>
		<url-pattern>/ListAllOrders</url-pattern>
	</servlet-mapping>
</web-app>

